
<!-- <table class="table">
        <thead>
          <tr>
            <th scope="col">MESSAGE</th>
            <th scope="col">RESPONSE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feed of feedback">
            <td>{{feed.message}}</td>
            <td>{{feed.anony_reply}}</td>
          </tr>
    
        </tbody>
      </table> -->

      <div  *ngFor="let feed of feedback" >
        
        <p class="container">MESSAGE: {{feed.message + "     "}} </p>
           <p class="container darker"  align="right">{{feed.anony_reply}} </p>
        

  
      </div> 

      
      
  
      