<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>

<h2>Messages</h2>
<div class="table-responsive">
  <table class="table">
  <tr>
    <th>#</th>
    <th>Message</th>
    <th>Response</th>
  </tr>

  <tr *ngFor="let mes of annonymous">
      <td>{{mes.id}}</td>
      <td>{{mes.message}}</td>
      <td>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Respond Here</button>
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Type Message</h4>
              </div>
              <div class="modal-body">
                <p>Some text in the modal.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </td>
  </tr>

</table>
</div>

</body>
</html>

<router-outlet></router-outlet>