<app-admin-header></app-admin-header>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Recognized</h1>
  
   
  </div>
  <table class="table">
    <thead>
      <tr>
        
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Contact</th>
        <th scope="col">Email</th>
        <th scope="col">Message</th>
        <th scope="col">Category</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cat of  Recognized">
        
        
        <td>{{cat.name}}</td>
        <td>{{cat.surname}}</td>
        <td>{{cat.contact}}</td>
        <td>{{cat.email}}</td>
        <td>{{cat.message}}</td>
        <td>{{cat.cat_id}}</td>
        
        

      </tr>
      
     
    </tbody>
  </table>
</main>