<form class="form-signin" ngForm="adminFm" >
    <a>
      <img src="../../assets/images/logo.png" alt="" width="200" height="72" style="margin: 50px">
    </a>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="Text" id="username"
    [(ngModel)] = "adminData.username" name="username"
    class="form-control" placeholder="User Name" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="password" 
    [(ngModel)] = "adminData.Password" name="Password"
    class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit"routerLink="/admin-dashboard">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
    <!-- {{adminFm.value | json}} -->
  </form>


  <!-- {{ site.time | date: "%Y" }} -->