

<form class="form-signin" [formGroup]="adminForm" (ngSubmit)="onSubmit()">
  <a>
    <img src="../../assets/images/logo.png" alt="" width="200" height="72" style="margin: 50px">
  </a>
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>



  <div class="form-group" >
 <label class="control-label" for="email" >Email address</label>
 <div class="input-group">
   <input type="text" class="form-control mr-sm-2" id="email" formControlName="email" 
     placeholder="Enter email address"
  [ngClass]="{ 'is-invalid' :submitted && fm.admin?.errors }" />
    <span *ngIf="submitted && fm.email?.errors" class="invalid-feedback">
      <span *ngIf="fm.email?.errors.required">Email is required</span>
    </span>
 
 </div>
</div>

  <div class="form-group">
  <label  class="control-label" for="password" >Password</label>
  <div class="input-group">
    <input type="password" class="form-control mr-sm-2" id="passwod" formControlName="password" 
     placeholder=" Enter Password" [ngClass]="{'is-invalid': submitted && fm.password?.errors }" />
    <span *ngIf="submitted && fm.password?.errors" class="invalid-feedback">
    <span *ngIf="fm.password?.errors.required">Password is required</span>
    </span>
   
  </div>
  </div>

   <!-- <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <div *ngIf="invalidLogin" class="error">
    <div>Invalid credentials.</div>
  </div> 
-->


   <div class="form-group col-md-4">

    <button [disabled]=" loading " type="submit"
    class ="btn btn-primary btn-lg btn-block shadow p-3 mb-5 rounded bg-info">
  <span *ngIf=" loading " class="spinner-border spinner-border-sm mr-1"></span>
        Login
  </button>

   </div>
 


  <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <div *ngIf="submitted" class="error">
    <div *ngIf="adminForm.controls.password.errors.required">Invalid Credentials</div>
  </div>
-->

  <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
</form>