.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #e31837;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }

  .container {
    width: 100%;
   /* From Moss XXX*/
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px; 
  }
  
/* .button {
  border-radius: 15%;
} */
.button:hover {
  background: #06D85F;
}

#dropdownMenuLink
{
  width: 100%;
  background-color: #e31837;
}
.dropdown-item
{
  width: 462px;
  text-align: center;
}
.placeholder{
  color: #e31837;
}





